.added-filter {
    background-color: #D9D9D9;
    display: flex;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    transition: background-color, color 0.25s ease;
}

.added-filter:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.added-filter i {
    margin-left: 0.6rem;
}

.added-filter i::before {
    margin: 0;
}

.separator {
    margin-right: 0.4rem;
}

#pattern-name {
    display: flex;
    font-size: 2rem;
    color: white;
    gap: 0.5rem;
}

#pattern-name div {
    display: flex;
    align-items: center;
}

#pattern-name input {
    background-color: inherit;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0;
    font-family: inherit;
}

#pattern-name input:focus {
    outline: none;
}

#content {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.2rem;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 0.6rem 1rem;
}

#filters-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    gap: 1rem;
}

#save-button-location {
    margin-top: auto;
}

#enter-query {
    min-width: 320px;
    max-width: 100%;
    background-color: white;
    height: 4rem;
    border-radius: 2rem;
}

#enter-query input {
    height: 4rem;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    padding: 0;
    padding-left: 2rem;
    min-width: 320px;
    max-width: 100%;
    border-radius: 2em;

}

#enter-query input:focus {
    outline: none;
}

#enter-query i {
    padding-right: 1rem;
}

#filter-selector:focus {
    outline: none;
}

#filter-selector {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    margin-top: 0.5rem;
    border-width: 1px;
    width: 150px;
}

#website-selector {
    color: white;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1001;
    max-height: 90vh;
    width: 300px;
    z-index: 1001;
    border-radius: 1rem;
}

#popup i {
    color: black;
}

#popup i:hover {
    cursor: pointer;
}

#popup-header {
    display: flex;
    justify-content: space-between;
}

#popup-header h2 {
    margin: 0;
}

#apply {
    display: none;
    margin-top: 1rem;
}

@media (max-width: 430px) {
    
    #content {
        width: 95%;
    }
    
    #filters {
        width: 100%;
    }
    
    #filters-header {
        width: 100%;
        flex-direction: column;
    }

    #pattern-name {
        width: 100%;
    }
    
    #pattern-name input {
        width: 100%;
        flex-shrink: 2;
    }

    #pattern-name div {
        display: none;
    }

    #enter-query{
        min-width: none;
        max-width: none;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #popup {
        width: 80vw;
    }

    #save-button-location {
        margin-left: auto;
    }
}