
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-eye-off:before { content: '\e803'; } /* '' */
.icon-dot-3:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-plus-1:before { content: '\e807'; } /* '' */
